<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snapchat Segments Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="/static/js/app.js"></script>
  </head>
  <body class="h-full bg-gray-100 flex flex-col overflow-y-hidden">
    <!-- Status Area -->
    <div id="status-area" class="w-full p-4 text-center text-white font-bold">
      <!-- The text and background classes will be dynamically added based on the status -->
      <!-- Example: "Success!" -->

      <p id="status-message">Status Message Here</p>
    </div>

    <!-- Main Content Area -->
    <div class="h-full flex-1 flex">
      <!-- Control Buttons with Anchor Tags -->
      <div class="w-1/4 border-r border-gray-300 p-4">
        <!-- Each anchor tag has a different href attribute -->
        <a href="segments" class="control-button control-link w-full mb-2 p-2 block bg-blue-500 text-white rounded hover:bg-blue-700 text-center"
          >all segments</a
        >

        <form
          id="load-segment-form"
          class="w-full flex flex-col md:flex-row justify-between gap-1 p-2 mb-2 border border-blue-300 rounded bg-blue-100"
        >
          <div class="flex flex-col justify-between gap-1">
            <label for="segments-menu" class="text-xs hidden md:inline-block flex-1"
              >select a segment from this list and press open to load it into the editor</label
            >
            <label for="segments-menu" class="text-xs flex-1 md:hidden">select and open a segment</label>
            <select name="selected-segment" id="segments-menu" class="w-full px-2 py-1 border border-gray-300 rounded text-gray-400">
              <option value="" disabled selected class="text-gray-300">Select Segment</option>
            </select>
          </div>
          <button
            type="submit"
            id="open-button"
            class="control-button self-center min-w-20 p-2 block bg-blue-500 text-white rounded hover:bg-blue-700 text-center"
          >
            open
          </button>
        </form>

        <a href="url1" class="control-button control-link w-full mb-2 p-2 block bg-blue-500 text-white rounded hover:bg-blue-700 text-center"
          >Link 2</a
        >

        <form id="random-users" class="w-full flex flex-col md:flex-row justify-between gap-1 p-2 mb-2 border border-blue-300 rounded bg-blue-100">
          <div class="flex flex-col justify-between gap-1">
            <label for="random-users-number_input" class="text-xs hidden md:inline-block flex-1"
              >insert number of users to be generated randomly</label
            >
            <label for="random-users-number_input" class="text-xs flex-1 md:hidden">random users number</label>
            <input
              type="number"
              name="random-users-number"
              id="random-users-number_input"
              title="random-users-number"
              placeholder="1-100000, default 50"
              min="1"
              max="100000"
              class="w-full px-2 py-1 border border-gray-300 rounded"
            />
          </div>
          <button type="submit" class="control-button self-center min-w-20 p-2 block bg-blue-500 text-white rounded hover:bg-blue-700 text-center">
            generate
          </button>
        </form>

        <a
          href="url1"
          id="save-button"
          class="control-button control-link w-full mb-2 p-2 block bg-green-500 text-white rounded hover:bg-green-700 text-center"
          >save changes</a
        >

        <a
          href="url1"
          id="edit-button"
          class="control-button control-link w-full mb-2 p-2 block bg-blue-500 text-white rounded hover:bg-blue-700 text-center"
          >edit fields</a
        >
      </div>

      <!-- Data Display Column -->
      <div class="p-4">
        <div id="list-name-area" class="flex justify-center gap-4 p-1 pb-4">
          <h2 id="list-name" class="text-lg font-bold text-center">list name</h2>
          <button
            type="button"
            id="list-name-edit-button"
            class="control-button self-center p-1 block bg-blue-500 text-white rounded-md hover:bg-blue-700 text-center"
          >
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"
              />
            </svg>
          </button>
        </div>

        <div class="overflow-y-auto h-5/6">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50 sticky top-0">
              <tr>
                <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider bg-green-50">Email</th>
                <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider bg-green-50">Phone Number</th>
                <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">City</th>
                <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Age</th>
                <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Notes</th>
              </tr>
            </thead>
            <tbody id="tableBody" class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider bg-green-50">test</td>
                <td class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider bg-green-50">test</td>
                <td class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">test</td>
                <td class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">test</td>
                <td class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">test</td>
                <td class="px-6 py-3 text-left text-xs font-medium text-gray-500 tracking-wider">test</td>
              </tr>
              <!-- Data rows will be populated here using JavaScript -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
